

.appointment {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* width: 100%; */
    height: auto;
    
}

.btn-hosp-name {
    display: flex;
    align-items: center;
    gap: 10px;
    /* top: 10px; */
    /* left: -1.66px; */
    padding: 11px 130px 11px 130px;
}

.button {
    width: 95px;
    height: 30px;
    top: 95px;
    left: 129px;
    background-color: #222F66;
}

.search-all {
    width: 15vw;
}

.hospital-name {
    /* width: 332px; */
    /* height: 32px; */
    /* top: 94px; */
    /* left: 243px; */
    font-weight: 400;
    size: 24px;
    line-height: 31.8px;
    color: #222F66;
}

.call-book-appointment {
    display: flex;
    align-items: center;
    margin-right: 146.34px;
    /* height: 42px; */
    /* top: 90px; */
    color: #222F66;
}

.date-choose {
    display: flex;
    gap:10px;
    border: 2px solid #222F66;
    border-radius:30px;
    padding: 10px;
    color: #222F66;
}

.datepicker::-webkit-datetime-edit { display: none;}

.phone-icon-box {
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 10px; */

    align-items: center;
    cursor: pointer;
}

.search-all {
    display: flex;
    margin-right: 20px;

}
.phone-no {
    color: #222F66;
    font-family: PT Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.phone-icon {
    margin-right: 5px;
}
.search-icon-box {
    margin-right: 15px;
    width: 2rem;
    cursor: pointer;
}



@media (max-width: 480px) {
    .appointment {
        /* height: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-hosp-name {
        display: none;
    }

    .call-book-appointment {
        display: flex;
        flex-direction: column;
        height: auto;
        /* gap: 20px; */
        /* margin-left: 80px; */
    }

    .search-icon-box {
        margin-right: 0;
    }
    
    .search-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
    }
    .phone-icon-box {
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .appointment {
        flex-direction: row;
        align-items: flex-start;
        /* justify-content: center; */
        /* padding: 10px 20px; */
        height: auto;
        margin-top: 30px;
    }

    .btn-hosp-name {
        gap: 10px;
        padding: 0;
        margin-bottom: 10px;
        /* display: flex; */
    }

    .button {
        width: auto;
        height: auto;
        background-color: #222F66;
        padding: 5px 10px;
        font-size: 14px;
    }

    .hospital-name {
        width: auto;
        font-size: 24px;
        line-height: 24px;
        margin-top: 5px;

    }

    .call-book-appointment {
        display: flex;
        flex-direction: column;
        /* gap: 15px; */
        margin: 10px 0;
        height: auto;
    }

    .phone-icon-box {
        /* margin-right: 0; */
        display: flex;
        /* min-width: 20vw; */
        /* width: 150px; */
        /* justify-content: center; */
        /* align-items: center; */
        margin-bottom: 25px;
        
    }

    .phone-no {
        font-size: 16px;
    }

    .search-icon {
        width: 20vw;
    }

    .search-text {
        width: 150px;
    }
    
    .search-btn {
        width: 60px;
    }

    .search-all {
        width: 30vw;
        
    }

}