

.contact-us-form {
    margin-top: 50px;
    width: 100%;
    height: 380px;
    background-color: #1F2B6C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* gap: 70px; */
    color: white
}

.all-content {
    display: flex;
    flex-direction: row;
    margin-top: 73.79px;
    margin-left: 40px;
}

.hosp-name {
    margin-top: 73.79px;
    color: #BFD2F8;
    width: 235px;
    height: 88px;
    font-weight: 400;
    font-size: 37.95px;
    font-family: serif;
    line-height: 43.83px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 5px;
    color: #FCFEFE;
    font-size: 16px;
}

.important-links-section {
    margin-left: 20px;
}

.contact-us-section {
    margin-left: 20px;
}

.newsletter-section {
    margin-left: 30px;
}

.three-headings {
    font-weight: bold;
    height: 20px;
}

.email-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 236.74px;
    margin-top: 35px;
    
    border: 1px solid #BFD2F8;
    border-radius: 5px;
    padding: 5px;
    background-color: #BFD2F8;
    color: #1F2B6C;
}

.input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    outline: none;
    background-color: #BFD2F8;
}

.input::placeholder {
    color: var(--primary, #1F2B6C);

    font-family: Work Sans;
    font-size: 16px;
}

.email-img {
    width: 23.208px;
    height: 20px;
    margin-right: 20px;
}

.helper {
    display: flex;
}

.horizontal-line {
    height: 2px;
    width: 1045px;
    background-color: #BFD2F8;
}
.footer{
    display: flex;

    width:100%;
    justify-content: space-around ;
}
.social-media{
    display: flex;
    gap: 10px;
    width: 15px;
    height: 15px;
}


    @media (max-width: 480px) {

        .contact-us-form {
            height: auto;
        }

        .all-content {
          flex-direction: column;
          margin-left: 0;
        }
      
        .hosp-name {
          margin-top: 10px;
          font-size: 24px;
          text-align: center;
          
        }
      
        .links {
          margin-top: 20px;
          font-size: 14px;
        }
      
        .important-links-section,
        .contact-us-section,
        .newsletter-section {
          margin-left: 0;
        }
      
        .email-btn {
          width: 100%;
          margin-top: 20px;
          padding: 8px;
        }
      
        .input {
          width: 100%;
        }
      
        .horizontal-line {
          width: 100%;
        }
      
        .footer {
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-bottom: 20px;
        }
      
        .social-media {
          width: auto;
          justify-content: center;
        }
      
        .footer-images {
          width: 20px;
          height: 20px;
        }
    }



    /* Media query for screens with a max width of 768px */
@media (max-width: 768px) {
  .contact-us-form {
      margin-top: 20px;
      padding: 0 20px;
      gap: 20px;
      height: auto;
  }

  .all-content {
      flex-direction: column;
      /* align-items: center; */
      margin-left: 0;
  }

  .hosp-name {
      margin-top: 10px;
      font-size: 24px;
      /* text-align: center; */
  }

  .links {
      margin-top: 20px;
      font-size: 14px;
  }

  .important-links-section,
  .contact-us-section,
  .newsletter-section {
      margin-left: 0;
  }

  .email-btn {
      width: 100%;
      margin-top: 20px;
      padding: 8px;
  }

  .input {
      width: 100%;
  }

  .horizontal-line {
      width: 100%;
  }

  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
  }

  .social-media {
      width: auto;
      justify-content: center;
  }

  .footer-images {
      width: 20px;
      height: 20px;
  }
}


@media (max-width: 894px) {
  .contact-us-form {
      margin-top: 20px;
      padding: 0 20px;
      gap: 20px;
      height: auto;
  }

  .all-content {
      flex-direction: column;
      /* align-items: center; */
      margin-left: 0;
  }

  .hosp-name {
      margin-top: 10px;
      font-size: 24px;
      /* text-align: center; */
  }

  .links {
      margin-top: 20px;
      font-size: 14px;
  }

  .important-links-section,
  .contact-us-section,
  .newsletter-section {
      margin-left: 0;
  }

  .email-btn {
      width: 100%;
      margin-top: 20px;
      padding: 8px;
  }

  .input {
      width: 100%;
  }

  .horizontal-line {
      width: 100%;
  }

  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
  }

  .social-media {
      width: auto;
      justify-content: center;
  }

  .footer-images {
      width: 20px;
      height: 20px;
  }
}
      
